.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: var(--camo-green);
  color: white;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 50px;
        i {
          font-weight: 300;
        }
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 5px;
        .searchInput {
          display: flex;
          // align-items: center;
          gap: 10px;
          width: 100%;

          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input {
            border: none;
            outline: none;
            flex: 1;
            flex-grow: 1;
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: var(--turquoise);
          color: white;
          cursor: pointer;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
        }
        button {
          color: white;
          background-color: transparent;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 14px;
          cursor: pointer;
          transition: 0.2s ease;
          &:hover {
            background-color: white;
            color: var(--burnt-orange);
          }
        }
      }
    }
    .right {
      height: 100%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
