.home {
  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0;

    &.business {
      background-color: #0d084d;

      h1 {
        color: white !important;
      }
      p {
        color: white !important;
        margin-bottom: 20px !important;
      }

      .title {
        color: white !important;
        font-weight: 600 !important;
        font-size: 20px !important;
      }

      img {
        width: 100%;
      }

      button {
        background-color: white;
        color: var(--gray-3);
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 20px;
        font-weight: bold;
        align-self: flex-start;
        // width: max-content;
        border: none;

        &:hover {
          color: black;
        }
      }
    }

    .container {
      width: 1400px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 200px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &:first-child {
          flex: 2;
        }
        &:last-child {
          flex: 3;
        }
        h1 {
          font-weight: 500;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          color: var(--gray-3);
          line-height: 28px;
          letter-spacing: 1px;
        }
        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 600;
          font-size: 18px;
          color: var(--gray-3);

          img {
            width: 24px;
            height: 24px;
          }
        }
        video {
          width: 720px;
        }
      }
    }
  }
  .areas {
    padding: 100px 0px;
  }
  .inspiring-work {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #f5f5f5;
    h1 {
      padding-left: 20px;
      color: #404145;
      font-size: 36px;
    }
  }
}
