.my-orders {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 50px 0;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background-color: var(--turquoise);
        color: white;
        font-weight: 600;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
      }
    }

    table {
      width: 100%;
      tr {
        height: 50px;
        &:nth-child(even) {
          background-color: var(--pearl-aqua);
        }

        th {
          text-align: left;
        }

        td {
          .job-image {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }
          .delete {
            width: 20px;
            cursor: pointer;
            transition: 0.2;

            &:hover {
              scale: 1.05;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
